<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 id="jumbotron-title">Be Your Own Bartender!</h1>
      <p id="jumbotron-message">
        We're here to bring basic mixology to the masses. Many classic drinks
        are simple combinations of easy to acquire ingredients. Our logic
        engine lets you confidently select new options among tried and true
        classics.
      </p>
      <a href="" class="btn">Get your drink on! (Responsibly of course)</a>
    </div>
  </div>

  <section id="service-area">
    <div class="container">
      <h2 class="area-title">Get mixing!</h2>
      <p class="area-description">
        We start with a base spirit (vodka, gin, rum, bourbon) then we go from
        there. We connect you to videos for all our recipes, no matter how
        simple. Mix with confidence.
      </p>
      <div class="row">
        <div class="col-lg-4">
          <h3>Recipes</h3>
          <p>
            The heart of our project. Tasty classics with ingredients you
            should be able to acquire easily. Many of the best drinks only
            require 2-5 ingredients. We'll tell you what you need and how to
            use it.
          </p>
        </div>
        <div class="col-lg-4">
          <h3>Your Home Bar</h3>
          <p>
            Setting up a home bar? We got you. We'll help you figure out what
            you need to entertain, be able to make several classic drinks at
            home, and not break the bank.
          </p>
        </div>
        <div class="col-lg-4">
          <h3>Bars</h3>
          <p>
            Want to get fancy? Thinking of elaborate specialty drinks? Leave
            that to the professionals. We'll help you find the best cocktail
            bars near you. Don't spend your hard earned cash on specialty
            ingredients that you'll buy once, not get right, and then will sit
            in your cupboard and mock you.
          </p>
        </div>
      </div>
      <div class="row service-btn-row">
        <div class="col-lg-12">
          <a href="" class="btn service-btn">Get Started</a>
        </div>
      </div>
    </div>
  </section>

  <div class="why-alcohol">
    <div class="container">
      <div class="row why-row">
        <div class="col-lg-12">
          <h2 class="why-title">Why BYOB?</h2>
          <p class="why-description">Being Your Own Bartender is just fun.</p>
        </div>
      </div>

      <div class="row why-row">
        <div class="col-lg-6">
          <div class="why-image">
            <img src="./images/scotch.jpg" alt="scotch" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="why-content">
            <h2>Recipes and Videos through our network</h2>
            <p>
              We're partnering with major brands to learn how their products
              might be best enjoyed.
            </p>
          </div>
        </div>
      </div>

      <div class="row why-row">
        <div class="col-lg-6">
          <div class="why-image">
            <img src="./images/fireShots.jpg" alt="shots on fire" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="why-content">
            <h2>Why videos?</h2>
            <p>
              Because we want you to mix with confidence. Because there are no
              stupid questions. Because someone, somewhere, is trying to make
              a rum & coke in a wineglass and that's just wrong.
            </p>
          </div>
        </div>
      </div>

      <div class="row why-row">
        <div class="col-lg-6">
          <div class="why-image">
            <img
              src="./images/onRockswithTwist.jpg"
              alt="alcholic drinks on the rocks"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="why-content">
            <h2>
              Why would I need a recipe for a Gin & Tonic? It's in the name.
            </h2>
            <p>
              Because ratios matter. Because there are no stupid questions.
              Because having the ingredients in the name doesn't tell you what
              glass to put it in, how much ice, or the best garnish (lemon or
              lime, for the record).
            </p>
          </div>
        </div>
      </div>

      <div class="row why-row">
        <div class="col-lg-6">
          <div class="why-image">
            <img
              src="./images/statice.jpg"
              alt="mixed drink with statice as garnish"
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="why-content">
            <h2>How many options are there?</h2>
            <p>
              Depends. We help you select your options based on what's easy to
              find. Got vodka? Nice start. Mixes well. Want it with orange
              juice (Screwdriver)? Tonic (Vodka Tonic)? Orange juice and Peach
              Schnapps (Fuzzy Navel)? Orange Juice, Peach Schnapps, and
              Cranberry Juice (Sex On the Beach)? Vodka Martini? Vodka Sour?
              Add soda to that and have a Vodka Collins, take out the sour and
              it's a Vodka & Soda. We tell you what you can make with what you
              can get.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
